/***
TABLE OF CONTENTS

Common - Text, fonts, inputs, styles that being reused
Header & Footer - Site name, logo, main menu, social icon
Carsouel
Featured
Testimonial
Map
QR Code
***/

/* Common */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
}
body {
  width: 100%;
  background-color: #000;
  color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-family: "Tourney", cursive;
}

h2 {
  font-family: "Chakra Petch", sans-serif;
  color: rgb(73, 154, 242);
}

h3 {
  font-family: "Bai Jamjuree", sans-serif;
  color: rgb(73, 154, 242);
}

a {
  color: #eee;
}

a:hover {
  transition: all 500ms;
  filter: brightness(70%);
}

section {
  margin: 0 20px 80px 20px;
}

.action-button {
  font-weight: 400;
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  background: none;
  color: #fff;
}

.action-button:hover {
  transition: all 500ms;
  background-color: #fff;
  color: #000;
  filter: brightness(100%);
}

input {
  height: 25px;
}

.grid-view {
  display: grid;
  grid-template-columns: 200px auto auto auto auto auto;
  grid-template-areas:
    "header header header header header header"
    "main main main main main main"
    "footer footer footer footer footer footer";
}

/* Header & Footer */



@media only screen and (max-width: 899px) {
  header {
    display: grid;
    grid-template-columns: 200px auto auto auto auto auto;
    grid-template-areas:
      "logo na na na na search"
      "logo na na na na toggle"
      "nav nav nav nav nav nav";
    grid-area: header;
  }

  nav {
    grid-area: nav;
    /* background:rgba(78, 119, 186, 255); */
    /* border-radius: 10px; */
    /* border: 1px solid white; */
    text-align: right;
    display: none;
  }

  nav ul {
    /* border:1px solid white; */
    /* border-width:1px 0; */
    list-style: none;
    margin: 0;
    padding: 5px 15px 0px 0px;
    text-align: right;
  }

  nav li {
    display: inline;
    border: 1px solid white;
    border-radius: 5px;
    transition: all 500ms;
    width: 100%;
    display: block;
    text-align: center;
    cursor: pointer;
  }

  nav li:hover {
    background-color: #eee;
  }

  nav li:hover a {
    color: #333;
  }

  nav li a {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-decoration: none;
    font-variant: normal;
    font-weight: normal;
    font-size: 1em;
    color: hsl(0, 0%, 255%);
    display: inline-block;
    padding: 20px 10px;
    width: 100%;
  }

  #toggle {
    display: block;
    grid-area: toggle;
    text-align: right;
    padding-right: 15px;
    font-size: 24px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    margin-top: -10px;
  }

  footer {
    display: grid;
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 529px) {
  #toggle {
    margin-top: 0;
  }
}



#toggle:hover {
  filter: brightness(70%);
}

header {
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media only screen and (min-width: 900px) {
  header {
    display: grid;
    grid-template-columns: 200px auto auto auto auto auto;
    grid-template-areas:
      "logo na na na na search"
      "logo na na na na toggle"
      "logo nav nav nav nav nav";
    grid-area: header;
  }

  nav {
    grid-area: nav;
    /* background:rgba(78, 119, 186, 255); */
    /* border-radius: 10px; */
    /* border: 1px solid white; */
    text-align: right;
    width: 100%;
  }

  nav ul {
    /* border:1px solid white; */
    /* border-width:1px 0; */
    list-style: none;
    margin: 0;
    padding: 5px 15px 0px 0px;
    text-align: right;
  }

  nav li {
    display: inline;
    border: 1px solid white;
    border-radius: 5px;
    transition: all 500ms;
    cursor: pointer;
    padding: 5px;
  }

  nav li:hover {
    background-color: #eee;
  }

  nav li:hover a {
    color: #333;
  }

  nav li a {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-decoration: none;
    font-variant: normal;
    font-weight: normal;
    font-size: 1em;
    color: hsl(0, 0%, 255%);
    display: inline-block;
    padding: 10px;
  }

  #toggle {
    display: none;
    grid-area: toggle;
  }

  footer {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

#space {
  position: fixed;
  top: 0;
  left: 0;
  background: #000000;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.logo {
  grid-area: logo;
}

.logo img {
  width: 350px;
}

@media only screen and (max-width: 500px) {
  header {
    grid-template-areas:
    "search search search search search search"
    "logo na na na na toggle"
    "nav nav nav nav nav nav";
  }

  #toggle {
    margin-top: 65px;
  }
}

@media only screen and (max-width: 400px) {
  .logo img {
    width: 250px;
  }

  #toggle {
    margin-top: 40px;
  }
}

.search {
  grid-area: search;
  padding: 10px 15px 10px 0px;
  text-align: right;
}

.search-box {
  display: inline;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  transition: all 500ms;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

header h1 {
  grid-area: name;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

footer .contact ul li {
  list-style: none;
  line-height: 2em;
}

footer .social ul li {
  display: inline-block;
  margin-right: 16px;
}

/* Main Banner */
.main-banner {
  text-align: center;
  padding: 30px 20px;
  background-color: rgb(38, 77, 120);
  margin-bottom: 20px;
}

.home-page {
  margin-bottom: 0;
}

/* Sub-heading */
.sub-heading {
  margin-bottom: 20px;
  background-color: #000;
}

/* Carousel */

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-left: 0;
  margin-right: 0;
}

.carousel .sub-heading {
  align-self: flex-start;
  position: absolute;
  top: 20px;
  z-index: 100;
  margin-left: 30px;
}

.carousel__container {
  list-style: none;
  display: block;
  position: relative;
  width: 100%;
  height: 600px;
  transition: transform 0.3s ease-in;
}

@media only screen and (max-width: 899px) {
  .carousel__container {
    height: 400px;
  }
}
.carousel__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__content {
  padding: 20px;
  max-width: 600px;
  background-color: rgba(42, 42, 42, 0.75);
  text-align: left;
}

@media only screen and (max-width: 899px) {
  .carousel__content {
    max-width: 80%;
  }
}

.carousel__content h3 {
  font-size: 40px;
  margin-bottom: 20px;
  color: rgb(73, 154, 242);
}

.carousel__content p {
  margin-bottom: 30px;
}

.carousel__left,
.carousel__right {
  position: absolute;
  top: 50%;
  font-size: 30px;
  line-height: 30px;
  border: none;
  color: #fff;
  height: 3.3rem;
  width: 3.3rem;
  cursor: pointer;
  background-color: rgb(57, 113, 174);
  z-index: 150;
}

.carousel__left:hover,
.carousel__right:hover {
  transition: all 0.3s ease;
  background-color: rgb(38, 77, 120);
}

.hidden {
  display: none;
}

.carousel__left {
  left: 0;
}

.carousel__right {
  right: 0;
}

/* Featured */

.featured h2 {
  grid-area: featured-title;
}

.featured h3 {
  margin-bottom: 15px;
}

.featured p {
  margin-bottom: 15px;
}

@media only screen and (min-width: 900px) {
  .featured {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas:
      "featured-title featured-title featured-title"
      "featured-1 featured-2 featured-3";
    grid-area: featured;
  }
  .interactive-map img {
    width: 80%;
    height: auto;
  }

  .pictures ul {
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .pictures ul li {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    text-align: center;
  }

  .pictures img {
    width: calc(100% - 20px);
    height: auto;
  }
}

@media only screen and (max-width: 899px) {
  .featured {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas:
      "featured-title featured-title featured-title"
      "featured-1 featured-1 featured-1"
      "featured-2 featured-2 featured-2"
      "featured-3 featured-3 featured-3";
    grid-area: featured;
  }
  .interactive-map img {
    width: 100%;
    height: auto;
  }

  .pictures ul {
    padding: 0;
  }
  .pictures ul li {
    list-style: none;
    margin-bottom: 16px;
  }

  .pictures img {
    width: 100%;
    height: auto;
  }

  .qrcode img {
    width: 80%;
  }
}

.featured img {
  height: auto;
  width: 100%;
  border-radius: 10px;
}

.featured div {
  margin: 10px;
  padding: 10px;
  border: solid 1px #eee;
  border-radius: 10px;
  transition: all 500ms;
}

.featured div:hover {
  background-color: rgba(100, 100, 100, 0.3);
}

.featured div.featured-1 {
  grid-area: featured-1;
}

.featured div.featured-2 {
  grid-area: featured-2;
}

.featured div.featured-3 {
  grid-area: featured-3;
}

/* Map */
.interactive-map {
  text-align: center;
}
.interactive-map h2 {
  text-align: left;
}

.title-with-filter {
  grid-template-columns: 50% 50%;
  display: grid;
  margin-bottom: 0;
}

.title-with-filter .filter-section {
  align-self: start;
  justify-self: end;
}

/* Testimonial */
.testemonial ul li q {
  font-size: 1.2em;
  font-style: italic;
}

.testemonial ul li p {
  font-size: 0.8em;
  color: #aaa;
}

.testemonial ul li {
  list-style: none;
  margin-bottom: 16px;
}

.testemonial ul li:last-child {
  border-bottom: none;
}

.testemonial ul li {
  list-style: none;
}

/* QR Code */
.qrcode img {
  background: white;
}

.qrcode p:last-child {
  text-align: center;
}


